{% extends 'base.html.twig' %}

{% block title %}
	CGU | Les Délices de la Vaunage
{% endblock %}

{% block description %}
	Conditions générales d'utlisation du site de Les Délices de la Vaunage.
{% endblock %}

{% block body %}
	<h1 class="w-full py-3 mx-auto text-center underline capitalize rounded-2xl h1 font-handscript text-col-gold text-outline text-shadow-lg lg:mt-10 xl:mt-0 underline-offset-8">Les Conditions Générales d'Utilisation (CGU)
	</h1>

	<section class="p-4 rounded-lg customContainer bg-col-dark text-col-light customShadow">
		<br><br><h4 class="my-3 h4">Préambule :</h4><br><br>
		<p class="p">Les présentes Conditions Générales d’Utilisation (CGU) régissent l’utilisation du site de Les Délices de la Vaunage accessible à l’adresse
			<a href="https://delices-vaunage.fr" class="text-col-gold">https://delices-vaunage.fr</a>. En visitant ce site, l’utilisateur accepte sans réserve les présentes CGU.</p>

		<br><br><h4 class="my-3 h4">Article 1 – Objet :</h4><br><br>
		<p class="p">Ce site expose les savoirs-faire et les produits de notre lieu de vente. Les produits et prix affichés reflètent la réalité au moment de la saisie et sont donnés à titre indicatif, des modifications pouvant avoir lieu sur le lieu de vente mais reportées avec un décalage temporel sur ce site.</p>

		<br><br><h4 class="my-3 h4">Article 2 – Gestion des données de l'utilisateur :</h4><br><br>
		<p class="p">A aucun moment le site n'émet de manière volontaire un cookie sous quelque forme que ce soit. Les données transmises lors de l'envoi d'un message ne se font que par email. Aucune donnée utilisateur n'est sauvegardée dans une base de données de Les Délices de la Vaunage.</p>


		<br><br><h4 class="my-3 h4">Article 3 – Modification des CGU :</h4><br><br>
		<p class="p">La plateforme se réserve le droit de modifier les présentes CGU à tout moment. Les utilisateurs seront informés des modifications et devront accepter les nouvelles conditions pour continuer à visiter ce site.</p>


		<br><br><br><br>

	</section>
{% endblock %}
