{% extends 'base.html.twig' %}

{% block title %}
	Mentions Légales | Les Délices de la Vaunage
{% endblock %}

{% block description %}
	Fonctionnement du site et mentions légales du site de Les Délices de la Vaunage.
{% endblock %}

{% block body %}
	<h1 class="w-full py-3 mx-auto text-center underline capitalize rounded-2xl h1 font-handscript text-col-gold text-outline text-shadow-lg lg:mt-10 xl:mt-0 underline-offset-8">Les Mentions Légales
	</h1>

	<section class="p-4 rounded-lg customContainer bg-col-dark text-col-light customShadow">
		<p class="mb-4 text-center p">En vigueur au 29/01/2025</p>
		<p class="my-2 p">Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la Confiance en l’économie numérique, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' "Utilisateur", du site https://delices-vaunage.fr , ci-après le "Site", les présentes mentions légales.<br><br>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.<br><br>Ces dernières sont accessibles sur le Site à la rubrique "Mentions légales".</p>
		<p class="my-2 p">
			<span class="my-3 underline h4"><br><br>EDITION DU SITE<br><br></span>
			L'édition du Site est assurée par la société délices vaunage, sarl au capital de 1001 euros,<br>
			immatriculée au Registre du Commerce et des Sociétés de CALVISSON sous le numéro 789321654<br>
			dont le siège social est situé au place du centre,<br>
			Numéro de téléphone : 0606090908<br>
			Adresse e-mail : alicia@contact.com.<br>
			N° de TVA intracommunautaire : _______________<br>
			Directeur de la publication : Alicia<br>
			ci-après l'"Editeur".</p>
		<p class="my-2 p">
			<span class="my-3 underline h4"><br><br>HEBERGEUR<br><br></span>L'hébergeur du Site est la société hostinger, dont le siège social est situé au 61 Lordou Vironos Street 6023 Larnaca, Chypr .</p>
		<p class="my-2 p">
			<span class="my-3 underline h4"><br><br>ACCES AU SITE<br><br></span>Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout moment,spendre, limiter ou interrompre le Site afin de procéder, notamment, à des mises à jour ou des modifications de son contenu. L'Editeur ne pourra en aucun cas être tenu responsable des conséquences éventuelles de cette indisponibilité sur les activités de l'Utilisateur.<br><br>
			Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation expresse de l’Editeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que prévues par la règlementation en vigueur.</p>


	</section>
{% endblock %}
