{% extends 'base.html.twig' %}

{% block title %}
	Les allergènes | Les Délices de la Vaunage
{% endblock %}

{% block description %}
	LEs allergènes susceptilbles d'être rencontrés à Les Délices de la Vaunage.
{% endblock %}

{% block body %}
	<h1 class="w-full py-3 mx-auto text-center underline capitalize rounded-2xl h1 font-handscript text-col-gold text-outline text-shadow-lg lg:mt-10 xl:mt-0 underline-offset-8">Les Alergènes
	</h1>

	<section class="p-3 rounded-lg xs:p-4 md:p-5 customContainer bg-col-dark text-col-light customShadow"><br>
		<p class="mb-4 p ">Chez Les Délices De La Vaunage, nous mettons un point d'honneur à proposer des produits de qualité. Cependant, nous souhaitons informer nos clients que tous nos produits peuvent contenir des allergènes, même ceux qui n’en contiennent pas directement dans leur recette, en raison des risques de contaminations croisées.</p>

		<h4 class="my-3 h4">Allergènes couramment présents dans nos produits :</h4><br><br>
		<p class="p">Nos préparations peuvent contenir ou être en contact avec les allergènes suivants :
			<br>
			- Céréales contenant du gluten (blé, seigle, orge, avoine, épeautre, kamut ou leurs souches hybridées) et produits à base de ces céréales<br>
			- Oeufs et produits à base d'oeufs<br>
			- Lait et produits à base de lait (y compris le lactose)<br>
			- Fruits à coque (amandes, noisettes, noix, noix de cajou, noix de pécan, noix du Brésil, pistaches, noix de macadamia et noix de Queensland) et produits à base de ces fruits<br>
			- Arachides et produits à base d'arachides<br>
			- Graines de sésame et produits à base de graines de sésame<br>
			- Soja et produits à base de soja<br>
			- Céleri et produits à base de céleri<br>
			- Moutarde et produits à base de moutarde<br><br><br>

		</p>
		<h4 class="my-3 h4">Précautions et conseils</h4><br><br>
		<p class="p">Si vous avez une allergie alimentaire, nous vous conseillons de nous contacter avant votre achat afin de vous aider à choisir les produits les plus adaptés à votre régime.
			<br><br>Merci de votre compréhension et de votre confiance.
			<br>
			<br>

			<span class="b">L’équipe de Les Délices de la Vaunage.</span><br><br>
		</p>
	</section>
{% endblock %}
