{% include 'components/spacing.html.twig' %}
<footer class="text-white border-t border-gray-200">
	<div class="w-full max-w-screen-xl p-4 py-6 mx-auto lg:py-8">
		<div class="md:flex md:justify-between">
			<div class="flex flex-col mb-6 md:mb-0 gap-y-2">

				<a class="flex items-center cursor-pointer gap-x-2" href="/">
					<div class="relative flex items-center p-2 overflow-hidden rounded-full">
						<img src="/images/initiales/logo_remove_bg.png" class="size-8 contrast-110 neon" alt="logo delices de la vaunage"/>
						<div class=" absolute inset-0 bg-[#111111] -z-10"></div>
					</div>
					<p class="self-center font-semibold h3 whitespace-nowraptext-white">Les Délices de la Vaunage</p>
				</a>

				<a href="tel:+" class="self-start font-semibold duration-300 p whitespace-nowraptext-white hover:translate-x-3">
					<i class="mr-2 fa-solid fa-phone"></i>Tel : 04.66.01.02.03</a>
				<a href="mailto:" class="duration-300 p whitespace-nowraptext-white hover:translate-x-3">
					<i class="mr-2 fa-solid fa-envelope"></i>Nous envoyer un mail</a>
				<a href="/" class="mb-6 duration-300 p whitespace-nowraptext-white hover:translate-x-3">
					<i class="mr-2 fa-solid fa-paper-plane"></i>Nous envoyer un message</a>
			</div>
			<div class="grid grid-cols-2 mt-2 gap-8sm:gap-6 sm:grid-cols-3">
				<div>
					<h2 class="mb-6 text-sm font-semibold uppercase">Catégories</h2>
					<ul class="font-medium text-neutral-400">
						<li class="mb-4 ">
							<a href="https://flowbite.com/" class="e hover:underline">Flowbite</a>
						</li>
						<li>
							<a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold uppercase ">Follow us</h2>
					<ul class="font-medium text-neutral-400 ">
						<li class="mb-4">
							<a href="https://github.com/themesberg/flowbite" class="hover:underline ">Github</a>
						</li>
						<li>
							<a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Discord</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold uppercase ">Legal</h2>
					<ul class="font-medium text-neutral-400 ">
						<li class="mb-4">
							<a href="#" class="hover:underline">Privacy Policy</a>
						</li>
						<li>
							<a href="#" class="hover:underline">Terms &amp; Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
		<div class="sm:flex sm:items-center sm:justify-between">
			<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025
				<a href="https://www.compagnondecom.fr/" class="hover:underline">Compagon de Com</a>.<a href="/admin">
					All Rights Reserved.</a>
			</span>
		</div>
	</div>
</footer>
