{% extends 'base.html.twig' %}

{% block title %}Qui-sommes-nous ? | Les Délices de la Vaunage
{% endblock %}
{% block description %}
	Découvrez nos pâtisseries plaines d'amour, nos viennoiseries gourmandes, nos sandwichs généreux et nos pains artisanaux au centre de Calvisson, à côté de la Poste.
{% endblock %}

{% block body %}
	<h1 class="w-full py-3 mx-auto text-center underline capitalize rounded-2xl h1 font-handscript text-col-gold text-outline text-shadow-lg lg:mt-10 xl:mt-0 underline-offset-8">Qui Sommes-Nous ?
	</h1>
	{% include 'components/spacing.html.twig' %}

	<div
		class="flex flex-col items-center justify-center lg:items-stretch lg:flex-row ">
		{# <article class="w-full bg-col-light"> #}
		<article class="w-[90vw] max-w-[600px] p-2 text-justify backdrop-blur-lg bg-col-dark/75 md:p-3 lg:p-4 midFlex text-shadow text-col-light customShadow  ">
			<h4 class="relative h5 lg:w-full">{{presentation.text|raw}}
			</h4>
		</article>
		<img src="{{ asset('images/presentation/' ~ presentation.banniere) }}" alt="Image section" class=" w-[90vw] max-w-[600px] h-auto customShadow">
	</div>
	{% include 'components/spacing.html.twig' %}


	{% include 'public/informations/presentation/components/slider.html.twig'  with {'presentation': presentation} %}
	{% include 'components/spacing.html.twig' %}

	<article class="flex flex-col w-[90vw] max-w-[1200px] mx-auto p-2 text-justify backdrop-blur-lg bg-col-dark/75 md:p-3 lg:p-4 midFlex text-shadow text-col-light customShadow">
		<h4 class="text-justify h5">{{presentation.text2|raw}}</h4>
	</article>
	{% include 'components/spacing.html.twig' %}
{% endblock %}
