{% extends 'base.html.twig' %}

{% block title %}Les Délices de la Vaunage
{% endblock %}

{% block body %}

	{% include 'components/spacing.html.twig' %}
	<div class="flex flex-col w-full mb-10 text-white customShadow customContainer">
		{% for section in sections  %}
			<section class="flex w-full even:flex-row-reverse max-md:flex-col even:max-md:flex-col">
				{% include 'public/home/components/section.html.twig' with {'section': section} %}
			</section>
			<div class="last-of-type:hidden backdrop-blur-md">
				{% include 'components/spacing.html.twig' %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
