@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.bunny.net/css?family=dancing-script:400,700");
.pulse-right {
  transform-origin: center;
  animation: pulse-right 1.2s infinite;
}

@keyframes pulse-right {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(15px) rotate(20deg);
  }
  100% {
    transform: translateX(-5px);
  }
}
.pulse-left {
  transform-origin: center;
  animation: pulse-left 1.2s infinite;
}

@keyframes pulse-left {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px) rotate(-20deg);
  }
  100% {
    transform: translateX(10px);
  }
}
.flip_hover:hover {
  animation: flip-horizontal-bottom 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
.apparition-text {
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.3em;
    transform: translateZ(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.apparition-logo {
  animation: tracking-apparition 0.5s forwards 0.3s;
  opacity: 0;
}

@keyframes tracking-apparition {
  from {
    opacity: 0;
    transform: translateY(-35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.apparition-card {
  animation: tracking-apparition-card 0.5s forwards 0.3s;
  opacity: 0;
}

@keyframes tracking-apparition-card {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.text-shadow-lg {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}

.h1 {
  font-size: clamp(32px, 24px + 2.2vw, 60px);
  letter-spacing: calc(1px + 0.12vw);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto", sans-serif;
}

.h2 {
  font-size: clamp(23px, 20px + 1.65vw, 40px);
  letter-spacing: calc(1px + 0.04vw);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto", sans-serif;
}

.h3 {
  font-size: clamp(20px, 20px + 1vw, 29px);
  letter-spacing: calc(1px + 0.02vw);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}

.h4 {
  font-size: clamp(18px, 14px + 0.7vw, 22px);
  letter-spacing: calc(1px + 0.01vw);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto", sans-serif;
}

.h5 {
  font-size: clamp(16px, 14px + 0.4vw, 20px);
  letter-spacing: calc(0.8px + 0.01vw);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto", sans-serif;
}

.p {
  font-size: clamp(16px, 14px + 0.4vw, 20px);
  letter-spacing: calc(0.4px + 0.01vw);
  line-height: clamp(30px, 24px + 0.66vw, 36px);
  font-family: "Roboto", sans-serif;
}

.h6, .h6 div {
  font-size: clamp(12px, 12px + 0.3vw, 18px);
  letter-spacing: calc(0.3px + 0.01vw);
  line-height: clamp(24px, 14px + 0.5vw, 30px);
  font-family: "Roboto", sans-serif;
}

.icoFontawesome {
  font-size: clamp(32px, 24px + 2.2vw, 60px);
  color: #f1f1f1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.icoFontawesome:hover {
  color: #f1f1f1;
}

.filterShadow {
  filter: drop-shadow(1px 1px 3px #f1f1f1);
}

.text-shadow {
  text-shadow: 1px 1px 3px #000;
}

.customShadow {
  box-shadow: 5px 5px 15px 5px #505050;
}

.customShadowFooter {
  box-shadow: -5px -5px 15px 5px #505050;
}

.sectionNameShadow {
  box-shadow: 0 0 5px 2px #f1f1f1, inset 0 0 5px 2px #f1f1f1;
}

.text-outline {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 3px 3px 6px black;
}

header {
  width: 100%;
  height: 25vw;
  max-height: 380px;
  background: url("https://cloud.ducompagnon.fr/uploads/users/51/51cb24e0-e122-4de3-b626-e5dbf919d779/PRO/boulangerie_vaunage/accueil.png") no-repeat center/cover;
}

.link-navbar {
  overflow: hidden;
}

.link-navbar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 1px;
  background-color: #ffc107;
  transform: translateX(-110%);
  transition: all 0.33s ease-in-out;
}

.link-navbar:hover::after {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .link-navbar::after {
    display: none;
  }
}
.customForm form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  margin: 2rem auto;
  background: linear-gradient(to left, #505050, #545454);
  border: 1px solid #ffc107;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 15px 6px #505050, inset 0px 0px 10px 4px #505050;
}
.customForm form label {
  color: #f1f1f1;
  margin-bottom: 5px;
}
.customForm form input,
.customForm form textarea {
  border-radius: 10px;
  margin-bottom: 10px;
}

.btnDisabled {
  background: #545454;
  color: #a03131;
  border: 1px solid #505050;
  cursor: not-allowed;
  pointer-events: none;
}

.buttonValidation {
  width: 100%;
  padding: 0.5rem;
  margin: 1.25rem 0;
  font-weight: bold;
  border-radius: 0.5rem;
  background: #545454;
  color: #f1f1f1;
  transition: all 300ms ease;
  border: 2px solid #f1f1f1;
  box-shadow: 0px 3px 6px #f1f1f1;
  cursor: pointer;
}

.buttonValidation:hover {
  background: #f1f1f1;
  color: #505050;
  letter-spacing: 0.3px;
  box-shadow: none;
  transform: translateY(3px) scale(0.999);
}

div.customForm > form > div > div > ul > li {
  color: rgb(250, 70, 70);
  font-size: 0.875rem; /* Taille plus petite */
  margin-top: 0.25rem;
  margin: 10px 0;
}

.container_alerts {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0.95;
}

.move_to_up {
  animation: moveToUp 2s forwards;
}

@keyframes moveToUp {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -100px;
    transform: translateY(-100px);
    opacity: 0;
  }
}
.alert {
  padding: 15px;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 1px #333;
  border: 1px solid #f1f1f1;
}

.alert-info {
  background-color: #2196F3;
  box-shadow: 0px 0px 10px 3px #2196F3;
}

.alert-warning {
  background-color: #ffc107;
  box-shadow: 0px 0px 10px 3px #ffc107;
}

.alert-danger {
  background-color: #f44336;
  box-shadow: 0px 0px 10px 3px #f44336;
}

.alert-success {
  background-color: #25a368;
  box-shadow: 0px 0px 10px 3px #25a368;
}

.alert-neutral {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 10px 3px #333;
  color: black;
}

body {
  background: url("../../public/images/initiales/logo_remove_bg_little.png") 0px 0px/120px 120px repeat, url("../../public/images/initiales/logo_remove_bg_little.png") 60px 60px/120px 120px repeat, linear-gradient(to right, #505050 50%, white 50%) 0 0/100px 100px repeat;
}

.bg-color {
  background: linear-gradient(90deg, #505050 0%, #545454 100%);
}

.bg-color-reverse {
  background: linear-gradient(90deg, #545454 0%, #505050 100%);
}

.customContainer {
  width: 94vw;
  max-width: 1600px;
  margin: 0 auto;
}

.midFlex, .flexMid {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.neon {
  filter: drop-shadow(#ffc107 0 0 10px);
}/*# sourceMappingURL=custom.css.map */