.container_alerts {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0.95;
  }
  
  .move_to_up {
    animation: moveToUp 2s forwards;
  }
  
  @keyframes moveToUp {
    0% {
      top: 0;
      opacity: 1;
    }
    100% {
      top: -100px;
      transform: translateY(-100px) ;
      opacity : 0
    }
  }

.alert{
    padding: 15px;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px #333;
    border : 1px solid #f1f1f1;
}

.alert-info{
    background-color: #2196F3;    
    box-shadow: 0px 0px 10px 3px #2196F3;
}

.alert-warning{
    background-color: #ffc107;
    box-shadow: 0px 0px 10px 3px #ffc107;
}

.alert-danger{
    background-color: #f44336;
    box-shadow: 0px 0px 10px 3px #f44336;
}

.alert-success{
    background-color: #25a368;
    box-shadow: 0px 0px 10px 3px #25a368;
}
.alert-neutral{
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 3px #333;
    color: black;
}