@use "variables" as *;
.customForm form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  margin: 2rem auto;
  background: linear-gradient(to left, $col-bg1, $col-bg2);
  border: 1px solid $col-or1;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 15px 6px $col-bg1, inset 0px 0px 10px 4px $col-bg1;

  label {
    color: $col-light1;
    margin-bottom: 5px;
  }

  input,
  textarea {
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.btnDisabled {
  background: $col-bg2;
  color: #a03131;
  border: 1px solid $col-bg1;
  cursor: not-allowed;
  pointer-events: none;

  
}

.buttonValidation {
  width: 100%;
  padding: 0.5rem;
  margin: 1.25rem 0;
  font-weight: bold;
  border-radius: 0.5rem;
  background: $col-bg2;
  color: $col-light1;
  transition: all 300ms ease;
  border: 2px solid $col-light1;
  box-shadow: 0px 3px 6px $col-light1;
  cursor: pointer;

}

.buttonValidation:hover {
  background: $col-light1;
  color: $col-bg1;
  letter-spacing: 0.3px;
  box-shadow: none;
  transform: translateY(3px) scale(0.999);
}

// chemin pour styliser les msg erreur dans formulaire
div.customForm > form > div > div > ul > li {
  color: rgb(250, 70, 70);
  font-size: 0.875rem; /* Taille plus petite */
  margin-top: 0.25rem;
  margin: 10px 0;
}
