.filterShadow {
  filter: drop-shadow(1px 1px 3px $col-light1);
}

.text-shadow {
  text-shadow: 1px 1px 3px #000;
}

.customShadow{
  box-shadow: 3px 3px 10px 3px #ffffff80;
}
.customShadowFooter{
  box-shadow: -5px -5px 15px 5px $col-bg1;
}

.sectionNameShadow{
  box-shadow: 0 0 5px 2px $col-light1,
    inset 0 0 5px 2px $col-light1;
  ;
}
.text-outline {
  text-shadow: 
      -1px -1px 0 black, 
      1px -1px 0 black,  
      -1px 1px 0 black,  
      1px 1px 0 black,
      3px 3px 6px black;  
}
