<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Les Délices de la Vaunage
			{% endblock %}
		</title>
		<meta name="description" content="{% block description %}Bienvenue sur le Cloud du Compagnon, un espace de partage et de stockage de fichiers en ligne. Inscrivez-vous pour accéder à votre espace de stockage en ligne. L'outil idéal pour stocker des images et des fichiers en ligne pour vos projets FrontEnd.{% endblock %}">

		<link rel="icon" type="image/jpg" href="{{ asset('favico.ico') }}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" referrerpolicy="no-referrer"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="flex flex-col overflow-x-hidden bg-col-dark min-h-svh">

		<div class="relative z-50">{% include "components/header/header.html.twig" %}</div>
		{% include 'components/spacing.html.twig' %}
		{% include 'components/links/links.html.twig' %}
		<main class="flex flex-col flex-grow customContainer"> {% block body %}{% endblock %}
			</main>

			{% include 'components/spacing.html.twig' %}
			{% include "components/footer/footer.html.twig" %}
		</body>
	</html>
